* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: #eee;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  max-width: 95%;
  width: 110rem;
  background: #fff;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
}

footer {
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: .5rem;
  border: 1px solid #0004;
}

td {
  text-align: center;
}

tr {
  background-color: hsl(var(--main-color), 50%, 66%);
  background: hsl(calc(120 - 120 * min(1.5, var(--crit-rating))), 66%, calc(100% - min(1, var(--crit-rating)) * 33%));
}

tr.green {
  --main-color: 120;
}

tr.level1 {
  --main-color: 90;
}

tr.level2 {
  --main-color: 60;
}

tr.level3 {
  --main-color: 30;
}

tr.catastrophic {
  --main-color: 0;
}
